.title-shop,
.best-seller,
#product {
	text-align: center;
}

.product-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: black;
}

.product-content img {
	width: 200px;
	max-width: 100%;
	max-height: auto;
}

#table-price {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	font-family: "Mochiy Pop One", sans-serif;
	background-image: url(assets/bg.webp);
	background-size: contain;
	color: white;
}

.best-seller-title {
	color: black;
}

#table-price table {
	border-collapse: collapse;
	width: 80%;
}

#table-price th,
td {
	border: solid red;
	padding: 10px;
	background-color: blue;
}

body {
	margin: 0;
}

main {
	margin-top: 100px;
	margin-bottom: 20px;
}

.main-header {
	background-color: black;
	padding: 3px 0;
	padding-left: 10px;
}

.header-info {
	color: white;
}

.header-info a {
	color: white;
	text-decoration: none;
}

.header-info a:hover {
	color: blue;
}

.info-left,
.info-right {
	padding: 0px 20px;
}
.info-right {
	text-align: right;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	background-color: black;
}

.info-center {
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid white;
	width: 100%;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

nav {
	position: absolute;
	right: 20px;
	top: 20px;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

nav a:hover {
	color: blue;
}
