@media (max-width: 1020px) {
	.jumbotron {
		padding: 4rem 1rem;
	}

	.header-flex {
		flex-direction: column-reverse;
		align-items: center;
		gap: 2rem;
	}

	.jumbotron-wave,
	.jumbotron-wave-2 {
		display: none;
	}

	section#main-content {
		background-color: whitesmoke;
		padding-top: 0px;
	}

	/* project (sebelah kanan) */
	.project-container {
		flex-direction: column;
		padding: 0 10px;
	}

	.project {
		width: max(550px, 100%);
		max-width: 100%;
		margin: 10px 0;
	}

	iframe {
		max-width: 100%;
	}
}

/* @media (max-width: 725px) {
	.main-content {
		flex-direction: column;
	}
} */
