*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Oxygen", sans-serif;

	background-image: url("images/profile_blob_bg.png");
	background-size: cover;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: rgb(255 192 23);
	border-bottom: solid 1px #242424;
}

header > div,
nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bdr {
	border: solid red;
}
.header-left > a {
	font-size: 20px;
}
.header-left > img {
	width: 42px;
	height: 42px;
	object-fit: cover;
}

a {
	color: #001d91;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
}

/* main {
	margin-top: 60px;
} */

#jumbotron {
	width: 100%;
}
.jumbotron {
	padding: 20px;
	text-align: center;
	background-color: #ffc017;
}

.jumbotron-wave {
	position: absolute;
	top: 440px;
	z-index: 2;
}

.jumbotron-wave-2 {
	position: absolute;
	top: 441px;
	z-index: 1;
}

.header-flex {
	display: flex;
	justify-content: space-around;
	padding: 0;
}
.jumbotron-title {
	font-size: 30px;
	padding-bottom: 20px;
}
.jumbotron-text {
	text-align: left;
	padding-bottom: 20px;
	border-bottom: 8px solid #2f59ff;
}

.jumbotron-img-container {
	height: 300px;
	width: 400px;

	z-index: 999;
}

.jumbotron-img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.mini-text-flex {
	display: flex;
	justify-content: flex-start;
}

.mini-text {
	font-weight: bold;
	margin-right: 5px;
}
.fa-hand-point-up {
	font-size: 20px;
	color: aliceblue;
}
.fa-hand-point-down {
	font-size: 20px;
	color: aliceblue;
}
.icon-down {
	display: none;
}
button {
	background-color: #2f59ff;
	border-radius: 5px;
	border-style: none;
}
button:hover {
	color: black;
	cursor: pointer;
	transform: translateY(5px);
}

#main-content {
	background-color: whitesmoke;
	padding-top: 50px;
}
/* Parent of Aside and .Content */
.main-content {
	display: flex;
	justify-content: flex-start;
}

/* Parent Aside */
aside {
	width: 30%;
	max-width: 30%;
	/* max-height: 800px; */
	/* padding: 50px 2.5%; */
	text-align: center;
	border-right: solid 1px #242424;
}

/* Aside Container */
/* .profile-container {
	height: 100%;
} */
.aside-title {
	margin-top: 50px;
	font-size: 25px;
	border-radius: 5px;
}

.profile-picture {
	border-style: solid;
	border-radius: 50%;
	padding: 3px;
	object-fit: cover;
}

/* Search Tag Container */
.search-tags-container {
	border-top: 1px solid;
	position: sticky;
	top: 0px;
}

ul,
li {
	position: relative;
}

input {
	width: 95%;
	border: 1px solid;
	border-radius: 25px;

	padding: 10px;
	margin-bottom: 10px;
}

.addBtn {
	display: inline-block;
	width: 95%;
	border: 1px solid black;
	border-radius: 5px;

	background-color: rgb(255 192 23);
	cursor: pointer;
}

.search-tags-list {
	list-style: none;
	padding: 0;
	border-top: 1px solid black;
}

.search-tags-item {
	padding: 10px;

	background-color: rgb(255 192 23);
	border-bottom: 1px solid black;

	text-align: left;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 5px;
	color: #2f59ff;
	font-family: cursive;
	cursor: pointer;
	font-size: 20px;
}

/* Parent Content */
.content {
	width: 70%;
	max-width: 70%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Project */
.project-container {
	display: flex;
	justify-content: center;
}

.project {
	width: 320px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: #2f59ff;
	border: 1px solid;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-img {
	width: 300px;
	height: 210px;
	border: 1px solid;
}
.project-img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-title {
	color: rgb(255 192 23);
	font-weight: bold;
}

.project-description {
	color: whitesmoke;
}

/* Maps and iframe */
.content article#maps {
	max-width: 100%;
}

.article-title {
	text-align: center;
	font-size: 30px;
	margin: 50px 0 30px;
}

.maps {
	padding: 20px;
}

iframe {
	padding: 10px;
	margin: 0px auto;
	border: 1px solid;
	border-radius: 10px;
}

/* Parent of Footer */
footer {
	background-color: rgb(255 192 23);
	padding-top: 20px;
	border-top: solid 1px #242424;
}

.center-footer {
	margin: 0 20px;
}

.main-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.info-top {
	text-align: center;
	width: 100%;
	padding-top: 5px;
}
.info-center {
	text-align: center;
	width: 100%;
	padding-top: 5px;
	border-top: solid 1px #242424;
}

.social-media {
	display: flex;
	justify-content: center;
}

.fa-instagram-square,
.fa-twitter-square,
.fa-facebook-square,
.fa-envelope {
	padding: 5px;
	font-size: 30px;
}

.toggle {
	display: flex;
	margin: 10px;
	justify-content: center;
}

.btn {
	margin: 10px;
	background-color: transparent;
}

.btn:hover {
	cursor: pointer;
}

.green {
	color: green;
}

.red {
	color: red;
}

/* Contanct HTML */

.contact-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* Sebelah kiri (gambar) */
.illustration-img {
	margin: 0px;
	width: 800px;
	align-items: center;
}

/* Sebelah kanan (bagian Contact me) */
.contact {
	display: inline-block;
	flex-grow: 1;
	margin: 2rem 1rem;
	text-align: center;
}

.profile-contact-img {
	width: 200px;
}

/* container parent dari form */
.form-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* Icon */
.icon {
	margin-right: 6px;
	/* border: solid; */
}
.fa-user,
.fa-map-marker-alt,
.fa-envelope-open,
.fa-comment {
	font-size: 20px;
	width: 20px;
	height: 20px;
}
/* ////// */

/* Container untuk mengatur icon (kanan) dan form input (kiri) */
.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Pembungkus input dan label input */
.form-input {
	position: relative;
	width: 100%;
	border-bottom: 1px solid grey;
	outline: none;
	height: 48px;
	margin-bottom: 15px;
	padding: 0;
}

/* input */
.input-item {
	position: absolute;
	top: 0;
	left: 0;
	border-style: none;
	border-radius: 0;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	font-size: 15px;
	height: 100%;
}

/* label untuk input dan text area */
.form-label {
	position: absolute;
	left: 0px;
	top: 20px;
}

/* Container untuk mengatur icon (kiri) dan textarea (kanan) */
.textarea-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* pembungkus textarea dan label textarea*/
.form-textarea {
	position: relative;
}

/* textarea */
.textarea {
	border-style: none;
	border-bottom: 1px solid grey;
	outline: none;

	/* border: solid; */
}

.submit {
	border: 1px solid;
	border-radius: 25px;
	margin: 5px;
	background-color: transparent;
	cursor: pointer;
}

.input-item:focus + .form-label {
	top: -5px;
	left: -2px;
	font-size: 10px;
}

.textarea:focus + .form-label {
	top: -10px;
	left: -2px;
	font-size: 10px;
}

.input-item:not(:placeholder-shown).input-item:not(:focus) + .form-label {
	top: -2px;
	left: -2px;
	font-size: 10px;
	color: rgb(138, 130, 130);
}

.textarea:not(:placeholder-shown).textarea:not(:focus) + .form-label {
	top: -2px;
	left: -2px;
	font-size: 10px;
	color: rgb(138, 130, 130);
}

.section-container {
	text-align: center;
	padding: 10px;
}
.section-title {
	font-size: 40px;
	margin: 50px 0 0;
}
.section-subtitle {
	font-size: 15px;
	color: gray;
	margin: 10px 0 0;
}

.about-flex-item {
	display: block;
}
.about-image {
	margin: 0;
}

.blob-image {
	width: 500px;
	height: auto;
	transform: rotate(-90deg);
}

.blogger-image {
	position: absolute;
	width: 200px;
	height: auto;
	left: 520px;
	top: 350px;

	border-radius: 50%;
}

.about-description p {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 2px;
}

.about-description h4 {
	color: gray;
	letter-spacing: 2px;
}

.skills-flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
}
.skill-item {
	box-shadow: 0 0 3px gainsboro;
	border-radius: 10px;
	padding: 15px;
	background-color: white;
}
.skill-item img {
	width: 200px;
	height: 180px;
}
.skill-item p {
	padding: 5px;
	box-shadow: 0 0 10px gainsboro;
	border-radius: 5px;
	background-color: rgb(243, 199, 117);
}

.activity-flex {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	justify-content: center;
}
.activity-item {
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 3px gainsboro;
	border-radius: 5px;
	margin: 10px;
}
.activity-item img {
	width: 350px;
	height: auto;
}
