Advance1/**/**/*.scss linguist-vendored=false
Advance1/**/**/*.css linguist-vendored=false
Advance1/**/**/*.less linguist-vendored=false

Advance2/**/**/*.scss linguist-vendored=false
Advance2/**/**/*.css linguist-vendored=false
Advance2/**/**/*.less linguist-vendored=false

Advance1/*.scss linguist-vendored=false
Advance1/*.css linguist-vendored=false
Advance1/*.less linguist-vendored=false

Advance2/*.scss linguist-vendored=false
Advance2/*.css linguist-vendored=false
Advance2/*.less linguist-vendored=false


